<% include ./partials/header %>

<div class="code-page">
  <div class="code-options">
    <p>Code Options</p>
    <ul class="code-options-list">
    <li><a href="/codes">Back to codes</a></li>
    <li><a href="/codes/<%= code._id %>/edit">Edit Code</a></li>
    <li><a href="data:image/png;base64, <%= code.png %>" download="<%= code.title %>.png">Download Code</a></li>
    </ul>
  </div>

  <div class="code-container">
    <h1 class="code-title"><%= code.title %></h1>
    <img src="data:image/png;base64, <%= code.png %>">
    <p class="code-data"><%= code.text %></p>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script src="/src/index.js"></script>

<% include ./partials/footer %>